<?xml version="1.0"?>
<config>
    <modules>
        <Ryaan_Topmenu>
            <version>1.0.0</version>
        </Ryaan_Topmenu>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_topmenu>Ryaan_Topmenu_Block_Html</html_topmenu>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>
